body{
	width: 800px;
	height: 600px;
	margin: auto;
	text-align: center;
	font-size: 25px; 
	font-family: sans-serif;
}
.button{
	color: white;
	background-color: #007EE5;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.button:hover{
	background-color: #008CFF;
}
.button.b{
    width: 100px;
    height: 34px;
}
.center{
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.button>a{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
}
a{
	text-decoration: none;
}
