*{
	margin:0;
	padding: 0;
}
body{
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 25px; 
	font-family: sans-serif;
	/*display: none;*/
	max-width: 800px;
}
section{
	width: 100%;
	max-width: 800px;
}
.button{
	color: white;
	background-color: #007EE5;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.button:hover{
	background-color: #008CFF;
}
.button.b{
    width: 100px;
    height: 34px;
}
.center{
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.button>a{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
}
a{
	text-decoration: none;
}
header{
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-between;
	margin: auto;
	margin-top: 10px;	
}
.menu{
	border-radius: 5px;
	border: 1px solid #7F7F7F;
	position:absolute;
    width: 145px;
    padding-top: 20px;
    padding-right: 25px;
    top: 25px;
    left: 30px;
    z-index: 0;
    font-size: 0.8em;
    background: white;
}
ul{
	list-style: none;
	padding: 0px;
}
.menu li{
	text-align: left;
	padding-left: 5px;
	margin-bottom: 5px;
}
.dispNon{
	display: none;
}
.menu a{
	color: black;
}
.button.m{
	font-size: 0.8em;
	width: 75px;
    height: 30px;
}
.button.m a{
	top:5px;
}
footer{
	position:fixed;
	width:100%; 
	bottom: 0;
	text-align: center;
}
.list{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
	/*padding-left: 10px;
	padding-right: 10px;*/
	height: 368px;
	overflow-x: hidden;
}
.ficha{
	border-radius: 5px;
	border: 1px solid black;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.textBox{
	border-radius: 5px;
	border: 1px solid black;	
	margin-right: 2%;
	padding: 2px;
}
#btnMenu{
	z-index: 1;
}
.ficha.b{
	margin: 15px;
	font-size: 1em;
	width: 200px;
}
.ficha.m{
	margin: 10px;
	font-size: 0.7em;
	width: 140px;
	height: 227px;
}
.ficha img{
	width: 95%;
	border-radius: 5px;
	border: 1px solid black;
}
.ficha.m img{
	height: 157px;
}
.ficha.b img{
	height: 214px;
}
.ficha>div{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 5%;
}
.table{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin:auto;
}
.tableta, .disponibles{
	width: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
}
.disponibles{
	border-radius: 2px;
	border:1px dashed black;
	padding: 10px;
	height: 300px;
}
.silaba{
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: inset -1px -1px 15px 1px rgba(0,0,0,0.75);
	background-color: #f2ece1;
}
.silaba span{
	font-size: 2.2em;
}
.tableta::before, .tableta{
	background: #30a053;
	height: 100px;
}
.tableta{
	position: relative;
	box-shadow: inset -1px -6px 10px 9px rgba(0,0,0,0.77);
	top: 10px;
}
.tableta::before{
	width: 340px;
	content: "Read this -";
	position: absolute;
	left: -20px;
	top: 20px;
	z-index: -1;
}
